.name {
  grid-area: name;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.country {
  grid-area: country;
}
.budget {
  grid-area: budget;
}
.occasion {
  grid-area: occasion;
}
.adult {
  grid-area: adult;
}
.children {
  grid-area: children;
}
.infant {
  grid-area: infant;
}
.duration {
  grid-area: duration;
}
.dateOfDeparture {
  grid-area: dateOfDeparture;
}
.place {
  grid-area: place;
}
.intrest {
  grid-area: intrest;
}
.special {
  grid-area: special;
}

.planTripContainer {
  display: grid;
  grid-template-areas:
    "name name name name name name"
    "email email email phone phone phone"
    "country country budget budget occasion occasion"
    "adult adult children children infant infant"
    "duration duration dateOfDeparture dateOfDeparture place place"
    "intrest intrest intrest intrest intrest intrest"
    "special special special special special special";
  grid-gap: 4px;
  background-color: #2196f3;
  padding: 4px;
  margin: 16px 0 16px 0;
}

.planTripContainer > p {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 8px 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
