th,
td {
  padding: 1em;
}

tr,
td {
  display: block;
}

td {
  position: relative;
}

td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  padding-left: 1em;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
}

td:nth-child(n + 2):nth-child(odd) {
  background-color: #ddd;
}

@media only screen and (min-width: 768px) {
  td {
    display: table-cell;
  }

  td::before {
    content: none;
  }

  td:nth-child(1) {
    background: transparent;
    color: #444;
    border-radius: 0;
  }

  td:nth-child(n + 2):nth-child(odd) {
    background-color: transparent;
  }
}
